@import url("https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap");

/*!Colores*/
:root{
  --rosa: #FE8D85;
  --rosa-transparencia: #ffbbb6;
  --blanco: #fff;
  --amarillo: #FFFAC2;
  --amarillo-oscuro:#d8d4a4;
  --negro: #222;
  --negro-transparencia: #22222234;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; /* Hace que ocupe todo el alto de la pantalla */
}

.content-wrapper {
  min-height: 100vh; /* vh = viewport height → 100% de la pantalla */
  width: 100vw;      /* vw = viewport width → 100% del ancho */
}