@import "./app.css";

/* Header navbar */

.main-header {
  background-color: var(--amarillo);
}

.main-header .navbar-nav .nav-link {
  color: var(--rosa);
}

.main-header .navbar-nav .nav-link:hover {
  color: var(--rosa-transparencia);
}

.main-header .navbar-nav .nav-item .nav-link i:hover {
  color: var(--rosa-transparencia);
}

/* Navbar search*/

/* Sidebar */

.main-sidebar {
  background-color: var(--rosa-transparencia);
}

.sidebar .user-panel .info a {
  color: var(--rosa);
  transition: 0.2s;
}

.sidebar .user-panel .info a:hover {
  transform: scale(1.1);
}

.main-sidebar .brand-link {
  border-bottom: 1px solid var(--rosa);
}

.sidebar .user-panel {
  border-bottom: 1px solid var(--rosa);
}

.sidebar .form-inline .input-group .form-control {
  background-color: var(--amarillo);
  border: none;
  color: var(--rosa);
}

.sidebar .form-inline .input-group .form-control::placeholder {
  color: var(--rosa-transparencia);
}

.sidebar .form-inline .input-group .input-group-append .btn-sidebar {
  background-color: var(--amarillo);
  border: none;
  border-left: 1px solid var(--rosa-transparencia);
}

/* Sidebar pages*/

.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active {
  background-color: var(--amarillo);
}

.nav-treeview .nav-item {
  background-color: var(--amarillo);
  border-bottom: 1px solid var(--rosa-transparencia);
  border-radius: 4px;
}

.nav-treeview .nav-item:hover {
  background-color: var(--amarillo-oscuro);
}

/* Sidebar profile*/

.control-sidebar-dark {
  background-color: var(--rosa-transparencia);
  box-shadow: -5px 0px 10px var(--negro-transparencia);
}

.control-sidebar-dark .p-3 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.control-sidebar-dark .p-3 .profile-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--amarillo);
  padding: 1rem;
  border-radius: 32px;
}

.control-sidebar-dark .p-3 .profile-menu h5 {
  color: var(--rosa);
  font-size: 2rem;
}

.control-sidebar-dark .p-3 .profile-menu button {
  color: var(--blanco);
  width: fit-content;
  padding: 8px;
  border-radius: 16px;
  border: 1px solid var(--rosa);
  background-color: var(--rosa);
  cursor: pointer;
  transition: background-color 0.2s, transform 0.1s;
}

.control-sidebar-dark .p-3 .profile-menu button:hover {
  background-color: var(--rosa-transparencia);
}

.control-sidebar-dark .p-3 .profile-menu button:active {
  transform: scale(0.9);
  background-color: var(--rosa);
}
